<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>日々の買い物を記録しよう</h1>
          <% unless logged_in? %>
            <%= link_to '会員登録してシンプル家計簿を始める', signup_path, class: 'btn btn-success btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
<% if logged_in? %>

<h3>買ったもの一覧</h3>

<% if @memos.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>買ったもの</th>
        <th>値段</th>
        <th>買った月</th>
      </tr>
    </thead>
    <tbody>
      <% @memos.each do |memo| %>
      <tr>
        <td>
          <div class="buttons">
            <a href="/memos/<%=memo.id%>" data-method="delete"><span class="glyphicon glyphicon-trash"></span></span></a> 
            <a href="/memos/<%=memo.id%>/edit"><span class="glyphicon glyphicon-edit"></span></span></a>
          </div>
        </td>
        <td><%= memo.title %></td>
        <td><%= memo.price %></td>
        <td><%= memo.date %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% end %>